@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');
@import url(./variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.para-text{
    font-size: var(--font-para);
    font-family: var(--font-primary);
    font-weight: var(--font-light);
}

.text-primary{
    color: var(--primary);
}
.text-sm{
    font-size: var(--font-sm);
    font-family: var(--font-primary);
    font-weight: var(--font-regular);
}
.flex-center-align{
    display: flex;
    align-items: center;
  
}

.mb-0_5{
    margin-bottom: var(--mb-0_5);
}
.mb-1{
    margin-bottom: var(--mb_1);
}
.mb-1_5{
    margin-bottom: var(--mb-1_5);
}
