
@import url(./variables.css);
@import url(./global.css);

.wrapper {
    display: flex;
    height: 100vh;
}

 .filter-section-wrapper {
    width: 17vw;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
   
}

.filter-section-wrapper #logo h4 {
    font-family: var(--font-primary);
    font-weight: var(--font-regular);
    font-size: 1.5rem;
    
}
.filter-section-wrapper #logo h4 span{
    font-family: var(--font-primary);
    font-weight: var(--font-light);
    font-size: 1.5rem;
    
}
 .filter-heading {
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-weight: var(--font-regular);
    font-size: 1rem;
    margin-bottom: var(--mb_1);

}
.filter-list input[type="checkbox"]{
    width: 18px;
    height: 18px;
    accent-color: var(--primary);
    margin-right: 0.5rem;
}
 .filter-list label{
    font-family: var(--font-primary);
    font-weight: var(--font-regular);
    font-size: small;
}
 .selection-row{
    font-family: var(--font-primary);
    font-weight: var(--font-regular);
    font-size: 0.8rem;
}
.blog-list-wrapper {
    width: 33vw;
    background-color: #ccc;
    overflow: scroll;
}
.blog-list-wrapper .blog-list-item{
    background-color: #fff;
    margin: 1rem 0rem;
    padding: var(--p_1-3);
    margin: var(--m_1-3);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}
.blog-list-wrapper .blog-list-item * {
    margin-bottom: 0.45rem;
}
.blog-list-wrapper .blog-list-item .blog-heading{
    font-family: var(--font-primary);
    font-weight: var(--font-regular);
}

.blog-list-item .blog-description.text-truncate{
    line-height: 20px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}
.blog-details-wrapper{
    padding: 2.5rem;
    margin: 0 auto;
    width: 50vw;
}
.blog-detail-img { 
    height: 360px;
    border-radius: var(--border-radius-lg);
}
.blog-detail-heading {
    font-family: var(--font-primary);
    font-weight: var(--font-regular);
    font-size: var(--font-heading-h1);
}
.blog-detail-description {
    line-height: 22px;
    font-size: 14px;
    word-spacing: 1.5px;
    height: 30%;
    overflow-y: scroll;
}
